<h1>Sam Bourke</h1>
<svg *ngIf="!mobile">
    <line></line>
</svg>
<svg class="vert" *ngIf="!mobile"> <line></line></svg>
<h2>
  <b> Hi there!</b>
    <br>
    <br>

And welcome to my web resume. This is a place for me to show off
different projects I’ve worked on during my career and in my free 
time. Below you will find my currently featured project, to view 
all projects please click the projects tab on the sidebar!
<br>

<br>
<app-project></app-project></h2>
<h3 class="sideBar">Projects  &nbsp; Contact </h3>
