@media only screen and (max-width: 501px) {
   h1 { 
       /* Sam Bourke */

    width: 144px;
    height: 54px;

    font-family: 'Courier';
    font-style: normal;
    font-weight: 1;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px;

   }
    h2 {
        /* Hi there! And welcome to my web resume. This is a place for me to show off different projects I’ve worked on during my career and in my free time. */

width: 90%;
height: 176px;

font-family: 'Courier';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 17px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


    }
    .sideBar {

width: 294px;
height: 13px;

font-family: 'Courier';
font-style: normal;
font-size: 15px;
line-height: 17px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: -220px 0px;

    }
}



@media only screen and (min-width:501px) {
h1 {
/* Sam Bourke */

position: absolute;
width: 144px;
height: 27px;
left: 235px;
top: 31px;

font-family: 'Courier';
font-style: normal;
font-size: 24px;
line-height: 27px;
/* identical to box height */

color: #000000;


}
svg {
    /* Vector 2 */

position: absolute;
width: 598px;
height: .5px;
left: 228px;
top: 74px;

border: .5px solid #000000;

}
h2 {
    /* Hi there! And welcome to my web resume. This is a place for me to show off different projects I’ve worked on during my career and in my free time. */

position: absolute;
width: 594px;
height: 85px;
left: 245px;
top: 100px;

font-family: 'Courier';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 17px;

color: #000000;


}
.vert {
    /* Vector 1 */

position: absolute;
width: 1px;
height: 691px;
left: 213px;
top: 50px;

border: 1px solid #000000;
transform: rotate(-0.12deg);

}
.sideBar {
  

position: absolute;
width: 79px;
height: 13px;
left: 115px;
top: 98px;

font-family: 'Courier';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 17px;

color: #000000;


    
}
}
