<h4><b>FEATURED PROJECT: Penguin Dodgeball</b> </h4>
<body>A simple, penguin-themed sports game programmed for the original Nintendo Gameboy using a C-based devkit library called gbdk </body>
<br>
<img src="../../assets/images/penguindodgeball.png">
<br>
<body>Programmed within the time limit of a week for a gamejam, penguin dodgeball pits two penguins, one black and white and the other white and black, against
    each other in a game of dodgeball...
    <br>
    <b>Click on the projects tab to learn more</b>
</body>